@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 10px;
	color: #444444;
	font-family: 'Lato', sans-serif;
}
body {
	margin: 0;
	min-height: 100%;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.lo {
	position: absolute;
	top: 7px;
	left: 178px;
}
.D {
	position: absolute;
	top: 45px;
	left: 206px;
	
}
.F {
	position: absolute;
	top: 12px;
	left: 208px;
}.Fork {
	position: absolute;
	top: 3px;
	left: 174px;
}
.I {
	position: absolute;
	top: 32px;
	left: 194px;
}
.spoon {
	position: absolute;
	top: 4px;
	left: 230px;
}
.XX {
	position: absolute;
	top: 11px;
	left: 189px;
}
.U {
	position: absolute;
	top: 26px;
	left: 224px;
}
header a {
	color: #fff;
	text-decoration: none;
	transition: all .4s ease-in-out;
	font-weight: 700;
}
header .conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	display: inline-block;
	margin-left: 2rem;
	font-size: 1.4rem;
}

.conteiner {
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
	padding: 4.5rem 10rem;
	text-shadow: .3rem -0.2rem rgba(0, 0, 0, .5);

}
nav a:hover,
nav a:focus,
nav a:active {
	color: #faaaaa;
	text-decoration: underline;
	}
/* .section {
	padding: 34rem 0 0 0 ;
} */
.sections {
	background-position: center;
	background-size: cover;
	background-color: #0e0d1b;
	color: #fff;
	height: 100vh;
	padding: 34rem 0 0 0 ;
	
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	 */text-align: center;
}
.sections h1 {
	font-size: 3.6rem;
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	color: #e9dada;
	text-shadow: .3rem -0.2rem rgba(0, 0, 0, .5);
}
.sections h1 p{
	font-size: 10rem;
	margin: 0;	
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #fff;
	
}
.BStart {
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	font-size: 1.8rem;
	text-decoration: none;
	font-weight: 700;
	padding: 1.5rem 5.5rem;
	transition: all .4s ease-in-out;
	border-radius: 5px;
}
.BStart:hover,
.BStart:focus,
.BStart:active {
	color: #faaaaa;
	border-color: #faaaaa;
	background-color: #fff;
}
.SendUs {
	margin-top: 4rem;
	text-decoration: none;
	display: block;
	margin: 5rem;
	color: #fff;
	text-shadow: .3rem -0.2rem rgba(0, 0, 0, .5);
}
.SendUs:hover,
.SendUs:focus,
.SendUs:active {
	text-decoration: underline;
	color: #faaaaa;
}

