@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@font-face {
	font-family: 'LatoHairline_N';
	src: local('Lato Hairline'), 
		local('Lato-Hairline'),
		url('../fonts/latohairline/latohairline.woff2') format('woff2'), 
		url('../fonts/latohairline/latohairline.woff') format('woff'), 
		url('latohairline.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'LatoHairline_I';
	src: local('Lato Hairline Italic'), 
	local('Lato-HairlineItalic'), 
	url('../fonts/latohairline/latohairlineitalic.woff2') format('woff2'), 
	url('../fonts/latohairline/latohairlineitalic.woff') format('woff'), 
	url('latohairlineitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 10px;
	color: #000;
	font-family: 'Lato', sans-serif;
}
body {
	margin: 0;
	min-height: 100%;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

header a {
	color: #fff;
	text-decoration: none;
	transition: all .4s ease-in-out;
	font-weight: 700;
	text-transform: uppercase;
}
header .conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	display: inline-block;
	margin-left: 2rem;
	font-size: 1.4rem;
}
.logo {
	 color: red;
}

.conteiner {
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
	padding: 4.5rem 10rem;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);

}
nav a:hover,
nav a:focus,
nav a:active {
	color: #f57365;
	text-decoration: underline;
	}

.section {
	padding: 20rem 0;
}
.sections {
	background-position: center;
	background-size: cover;
	background-color: #0e0d1b;
	color: #fff;
	height:100vh;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
}
.section h1 {
	font-size: 3.6rem;
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	color: #e9dada;
	/*text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);*/
}
.section h1 p{
	font-size: 10rem;
	margin: 0;  
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #fff;
	/*line-height: 3rem;*/
	
}
.BStart {
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	font-size: 1.8rem;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 700;
	padding: 2rem 1.5rem;
	transition: all .4s ease-in-out;
	width: 28rem;
	
}
.BStart:hover,
.BStart:focus,
.BStart:active {
	color: #f57365;
	border-color: #f57365;
	background-color: #fff;
}
.SendUs {
	margin-top: 4rem;
	text-decoration: none;
	display: block;
	margin: 5rem;
	color: #fff;
	text-shadow: .3rem -0.2rem rgba(0, 0, 0, .5);
}
.SendUs:hover,
.SendUs:focus,
.SendUs:active {
	text-decoration: underline;
	color: #f57365;
}
.section2 {
	margin: 0 auto;
	width: 85%;
	padding: 8.5rem 0;
position: relative;
}
.get {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 1rem;
	/*outline: 1px solid red;*/
	width: 33%;
	color: #000;
	position: relative;
	
	}
.get img {
	border-radius: 50%;
	border: 2px solid black;
	padding: 2.6rem
}
/* Убрать его нельзя т.к. средняя картинка другого размера */
.getR img{
	width: 116px;
	height: 116px;
	padding: 3.5rem 2.3rem; 
}

.get h3 {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-transform: uppercase;
}
.get p {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.8rem;
	text-align: center;
	color: #8b8b8b;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55)

}

.section2 h3::before {
	content: "";
	position: absolute;
	width: 115px;
	padding: 1px;
	top: 180px;
	background-color: #f57365;
	text-align: center;
}
.section3 {
	margin: 0 auto;
	width: 100%;
	padding: 9.5rem 10rem 0 ;
	background-color: #f7f7f7;
	display: flex;
	max-height: 73rem;
	overflow:hidden;
	position: relative;
	
}
.get3 {
	
	margin: 0rem;
	/*outline: 1px solid red;*/
	width: 43%;
	color: #000;
	vertical-align: top;
	overflow:hidden;
}
.img3 {
	width: 100%;
	height: 126%;
	max-width: 54rem;

}
.get3-1 {
	padding-top: 10rem;
	margin-left: 9.2%;
	}
.get3-1::before {
	content: "";
	position: absolute;
	width: 115px;
	padding: 1px;
	top: 235px;
	background-color: #f57365;
}

.get3 h2 {
	width: 100%;
	margin: 0;
	font-size: 1.8rem;
	font-weight: 700;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-transform: uppercase;
}
.get3 h2::before {
	content: "";
	position: absolute;
	width: 115px;
	padding: 1px;
	top: 235px;
	background-color: #f57365;
}
.get3 p {
	color: #000000;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.8rem;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);

}
.get3 p:first-of-type {
	margin-top:  4rem;
}

.section4 {
	margin: 0 auto;
	width: 100%;
	padding: 5rem 10rem ;
	
}

.get4 {
	margin: 0 auto;
	width: 85%;
	text-align: center;
	
}
.img4 {
	border-radius: 100px; 
    border: 5px solid green; 
}
.get4 blockquote {
	display: block;
	font-family: 'LatoHairline_N', sans-serif;
	font-size: 3.6rem;
	color: #fff;
}
.get4 blockquote:before,
.get4 blockquote:after{
	content: '"';
	font-size: 2rem;
}
.get4 footer {
	font-family: 'LatoHairline_I', sans-serif;
	font-size: 1.8rem;
	color: #fff;
	position: relative;
	display: inline-block;
	}
.get4 footer::before {
	content: "...";
	position: absolute;
	padding: 1px;
	font-size: 10rem;
	right: 90px;
	top: -45px;
	margin: 0;
	/*color:#fff;*/
}
.section5 {
	margin: 10rem 0;
	
}

.get5 div:hover,
.get5 div:focus,
.get5 div:active {
	color: #f57365;
	
}	

.section5 h2 {
	font-size: 1.8rem;
	text-align: center;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	position: relative;
}
.section5 h2::before {
	content: "";
	position: absolute;
	width: 115px;
	padding: 1px;
	top: 35px;
	background-color: #f57365;
	margin: 0 0 0 37px;
}

.pad {
	margin: 0;
	padding: 5rem 0;
	display: flex;
	flex-wrap: wrap; 
	align-content: space-around; 
}
.pad li {
	
	list-style-type: none;
	font-size: 0;
	position: relative;
	align-items: center;
}
.get5 img {
	max-width: 302px;
	
}
.get5 div {
	position: absolute;
   	top: 0;
   	left: 0;
   	margin: 0 auto;
  	text-align: center;
   	padding: 7rem 2rem;
   	color : #fff;
	font-size: 1.5rem;
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	font-weight: bold;
	overflow:hidden;
	width: 100%;
	height: 100%;

	}
.get5 p {
	font-size: 3.6rem;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	margin: 0;
	font-style: normal;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55)
}
.pad1 {
	margin: 1rem 0 6rem 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0 20rem;
	
}
.get5-1 div {
	font-size: 3.6rem;
	text-align: center;
	font-weight: 700;
	
}
.get5-1 p{
	font-size: 1.6rem;
	font-weight: 400;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
}	
.foot {
	margin: 0;
	padding: 4rem 20rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
}

/* HELPERS */
.text-center {
	text-align: center;
}